workflow/scm_n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:daily sales"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        -16
      ],
      "id": "5b798418-78c1-4b44-ae12-03eb9453e91a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TmogvBOX4oFTwoMm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        -144
      ],
      "id": "ef6b88ce-429b-4564-b7fc-9940a583c8c8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_orders_aggregate",
          "mode": "list",
          "cachedResultName": "fact_orders_aggregate"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "customer_id": "={{ $json.customer_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "on_time": "={{ $json.on_time }}",
            "in_full": "={{ $json.in_full }}",
            "otif": "={{ $json.otif }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "on_time",
              "displayName": "on_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "in_full",
              "displayName": "in_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "otif",
              "displayName": "otif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        -144
      ],
      "id": "98a34a98-d1b0-412f-9cd3-c57a7bc20d0e",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "udoOtjfWc2oVxFbh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        96
      ],
      "id": "a1f84d82-e4d0-4522-a079-d4b5d1abe3f9",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_order_line",
          "mode": "list",
          "cachedResultName": "fact_order_line"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "customer_id": "={{ $json.customer_id }}",
            "product_id": "={{ $json.product_id }}",
            "order_qty": "={{ $json.order_qty }}",
            "agreed_delivery_date": "={{ $json.agreed_delivery_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "actual_delivery_date": "={{ $json.actual_delivery_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "delivery_qty": "={{ $json.delivery_qty }}",
            "In Full": "={{ $json['In Full'] }}",
            "On Time": "={{ $json['On Time'] }}",
            "On Time In Full": "={{ $json['On Time In Full'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_qty",
              "displayName": "order_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "agreed_delivery_date",
              "displayName": "agreed_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_delivery_date",
              "displayName": "actual_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_qty",
              "displayName": "delivery_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "In Full",
              "displayName": "In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time",
              "displayName": "On Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time In Full",
              "displayName": "On Time In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        96
      ],
      "id": "e0d68a5c-c942-484f-867e-690fc47a7988",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "udoOtjfWc2oVxFbh",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "880f1bf0-b78e-4709-9d33-a461b018e909",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ecf783f2a25e9e6dc00c9ce5b487491900eeeeb920aa10a1a197d1cbc688123"
  },
  "id": "3D718WHBrtQhthmw",
  "tags": []
}